<!DOCTYPE html>
<html>
<head>
  <title>User Registration</title>
</head>
<body>
  <h2>User Registration Form</h2>

  <% if(errors.length > 0) { %>
    <ul style="color:red;">
      <% errors.forEach(e => { %>
        <li><%= e.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <form action="/submit" method="post" enctype="multipart/form-data">
    Username: <input type="text" name="username" value="<%= old.username || '' %>"><br><br>

    Email: <input type="text" name="email" value="<%= old.email || '' %>"><br><br>

    Password: <input type="password" name="password"><br><br>
    Confirm Password: <input type="password" name="confirmPassword"><br><br>

    Gender:
    <input type="radio" name="gender" value="Male" <%= old.gender=='Male' ? 'checked' : '' %>> Male
    <input type="radio" name="gender" value="Female" <%= old.gender=='Female' ? 'checked' : '' %>> Female
    <br><br>

    Hobbies:
    <input type="checkbox" name="hobbies" value="Reading" <%= (old.hobbies && old.hobbies.includes('Reading')) ? 'checked' : '' %>> Reading
    <input type="checkbox" name="hobbies" value="Traveling" <%= (old.hobbies && old.hobbies.includes('Traveling')) ? 'checked' : '' %>> Traveling
    <input type="checkbox" name="hobbies" value="Gaming" <%= (old.hobbies && old.hobbies.includes('Gaming')) ? 'checked' : '' %>> Gaming
    <br><br>

    Profile Pic: <input type="file" name="profilePic"><br><br>
    Other Pics: <input type="file" name="otherPics" multiple><br><br>

    <button type="submit">Submit</button>
  </form>
</body>
</html>
