<!DOCTYPE html>
<html>
<head>
  <title>Result</title>
</head>
<body>
  <h2>User Details</h2>
  <table border="1" cellpadding="10">
    <tr><th>Username</th><td><%= user.username %></td></tr>
    <tr><th>Email</th><td><%= user.email %></td></tr>
    <tr><th>Gender</th><td><%= user.gender %></td></tr>
    <tr><th>Hobbies</th><td><%= user.hobbies.join(", ") %></td></tr>
    <tr>
      <th>Profile Pic</th>
      <td><img src="/uploads/<%= user.profilePic %>" width="100"></td>
    </tr>
    <tr>
      <th>Other Pics</th>
      <td>
        <% user.otherPics.forEach(pic => { %>
          <img src="/uploads/<%= pic %>" width="100">
        <% }) %>
      </td>
    </tr>
  </table>

  <br>
  <a href="/download/<%= user.username %>">Download Your Data</a>
</body>
</html>
